/*---------------Basic page layout ---------------------------------
----------------------------------------------------------------*/
body {
  margin: 0;
  font-family: arial, sans-serif;
  width: 100%;
}

/*---------------Top banner--------------------------------------
---------------------------------------------------------------*/
h1 {
  margin: 0;
  font-weight: 900;
  font-size: 40px;
  padding: 20px 0;
  color: white;
}
header {
  text-align: center;
  background-color: #333333;
  width: 100%;
  margin: 0 0;
}
/*------------- Navigation bar ----------------------------------
---------------------------------------------------------------*/

ul.navbar {
  margin: 1px 0 20px 0;
  font-weight: 900;
  font-size: 20px;
  text-align: center;

}
li.navbutton {
  background-color: #bbbbbb;
  color: white;
  padding: 10px 4px;
  display: inline-block;
}
a.navlink {
  padding: 10px;
  text-decoration: none;
  color: white;
}
a.navlink:hover {
  color: blue;
}

/* The follow section is for the blue "six-photos" bar -------
--------------------------------------------------------------*/
main {
  width: 94%;
  margin: 0 auto;
  text-align: center;
}
div.six-photos {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  background-color: lightblue;
}
h3.photo {
  margin: 0;
  padding-left: 30px;
  padding-bottom: 18px;
  padding-top: 18px;
  font-size: 30px;
  display: inline;

}
h3.emphasis {
  font-size: ;
  margin: 0;
  display: inline;
  border-bottom: 3px solid yellow;

}

/*--- The following section is arrange layout of gallery -------------------
------------------------------------------------------------------------*/
div.gallery {
  float: left;
  margin-bottom: 35px;
}
